.perfil-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #1f2937;
    padding: 30px;
    border-radius: 10px;
    color: #94bbe1;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .perfil-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #94bbe1;
  }
  
  .perfil-container input[type="text"],
  .perfil-container input[type="email"],
  .perfil-container input[type="password"],
  .perfil-container input[type="date"],
  .perfil-container input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    margin-bottom: 18px;
    border: none;
    border-radius: 5px;
    background-color: #374151;
    color: #94bbe1;
    font-size: 14px;
  }
  
  .perfil-container input[type="file"] {
    background-color: transparent;
    color: #ccc;
  }
  
  .perfil-container .imagen-perfil {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
    border: 2px solid #ccc;
  }
  
  .perfil-container button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #3b82f6;
    color: #94bbe1;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .perfil-container button:hover {
    background-color: #2563eb;
  }
  