.button {
  color: #3f597f;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.container-cta{
  display: flex;
  gap: 25px;
  justify-content: center;

}

.btn-darkbluecustom{
  background: #435779 !important;
  color: #fff;
}
.btn-custom{
  background: #6c757d !important;
  color: #fff;
  font-size: 15px !important;
}
.container-usuarios{
    display: flex;
    gap: 40px;
    margin: 20px 0;
    justify-content: center;
}

.usuarios-lista{
    width: 190px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: fit-content;
    position: relative;
}
.usuarios-lista button{
    font-size: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px 0 !important;
}
.container-asignados{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 7px;
    height: fit-content;
    position: relative;
    top: 6px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.usuarios-lista .button-user{
    width: 100% !important;
}
.proyecto-descripcion{
  position: relative;
}
.clientes{
    right: 10px;
    top: 5px;
    width: fit-content;
    font-size: 25px;


}

.btn-report{
  background-color: #277282;
  color: #fff;
}
.clientes button{
  width: fit-content;
  color: black;
  border: none;
  position: relative;
  padding: 10px 0;
}

.clientes button::after{
  content: "";
  position: absolute;
  width: 73px;
  height: 52px;
  background-color:transparent;
  right: -13px;
  top: -19px;
}
.flex-container{
  display: flex;
  gap: 30px;
}
.flex-container .btn{
  display: flex;
  padding: 10px 0 !important;
}
.usuarios-lista .btn{
  padding: 10px 0!important;
}
.container-buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  }



  .container-buttons .btn-report{
width: fit-content;
padding: 10px 15px!important;
  }



  .container-generate-report{
    display: flex;
    gap: 15px;
  }

  .custom-separador{
    border: 1px solid #0066ff;
    margin: 2rem 0;
    width: 100%;
    
  }



  .custom-detalleproyecto {
    background: #fff;
    box-shadow: #fff !important;

  }

.custom-detalleproyecto h1 {
  text-align: center;
  margin-top: 50px;
}


@media (max-width: 768px) {
  
  .container-generate-report{
    flex-direction: column;
  }

  .container-cta{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .btn-report{
    width: 100%;
    background-color: #277282;
    color: #fff;
      }
.btn-report:hover{
    background-color: #277282 !important;
    color: #fff;
      } 

  .container-usuarios{
  flex-direction: column;
  width: 100%;
  
  }
  .dropdown-custom, .btn-custom, .usuarios-lista{
  width: 100%;
  }

  .container-usuarios{
    gap: 0px;
}

  .modal-body{
  overflow: auto;
}

.container-buttons .btn-report{
  width: 100%;

    }

    .custome-botones{
      width: 100%;
      margin-bottom: 25px;
    }

}


