
.page-content {
  padding-top: 5rem; 
}
.container {
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.page-content {
  margin-bottom: 2rem;
}

